body {
    background: rgb(30, 41, 59);
    /* color: white; */
    /* background-attachment: fixed;
    background-size: cover; */
}

.home-container {
    display: flex;
    justify-content: center;
}

.home-main {
    width: 90%;
}

.img-round {
    opacity: 0.8;
    height: 2 rem;

}

.img-round:hover {
    opacity: 1.0;

}